<!--
  Generated template for the SpellPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{model.name}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <ion-item>
    <ion-label>
      {{model.castTime}}
    </ion-label>
    <ion-note item-end>
      Cast Time
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label>
      {{model.range + (("Melee".localeCompare(model.range) == 0 || "".localeCompare(model.range) == 0) ? "" : " metres")}}
    </ion-label>
    <ion-note item-end>
      Range
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      {{((model.duration > 0) ? model.duration + " " : "") + model.durationType}}
    </ion-label>
    <ion-note item-end>
      Duration
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
      {{((model.dice > 0) ? model.dice : "") +
      model.diceType +
      ((model.extraEffect > 0) ? ((model.dice > 0) ? " + " : "") + model.extraEffect : " ") + " " +
      model.effectType + " " +
      (("Healing".localeCompare(model.effectType) == 0 || "".localeCompare(model.effectType) == 0) ? "" : " Damage")}}
    </ion-label>
    <ion-note item-end>
      Effect
    </ion-note>
    <ion-note item-end>
    </ion-note>
  </ion-item>

  <ion-item text-wrap>
    {{model.desc}}
  </ion-item>

  <ion-item *ngIf="!allowEdit">
    {{"Found in " + model.spellbookName}}
  </ion-item>

  <ion-fab bottom right *ngIf="allowEdit">
    <button ion-fab><ion-icon name="menu"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="edit()"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="upload()"><ion-icon name="cloud-upload"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
