<ion-header>

  <ion-navbar>
    <ion-title>Import Spell</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list id="spell-list">
    <button *ngFor="let page of model.pages" class="item item-block item-md" (click)="jumpToSpell(page)" ion-item>
      {{page.name}}
      <button ion-button color="light" (click)="import(page);$event.stopPropagation();" item-right>
        Import
      </button>
    </button>
  </ion-list>


  <ion-item *ngIf="model.pages.length == 0 && firebaseDone">
    {{"No Spells found."}}
  </ion-item>
  <ion-item *ngIf="!firebaseDone">
    {{"Loading spells..."}}
  </ion-item>
</ion-content>
