<ion-header>

  <ion-navbar>
    <ion-title>Import Spell</ion-title>
  </ion-navbar>

</ion-header>

<ion-toolbar color="dark-2">
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="global-spells">
      <ion-icon name="globe"></ion-icon>
      All Spells
    </ion-segment-button>

    <ion-segment-button value="spellbook">
      <ion-icon name="book"></ion-icon>
      This Spellbook
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content padding>
  <div [ngSwitch]="tab" *ngIf="firebaseDone">
    <ion-list *ngSwitchCase="'global-spells'" id="global-spell-list">
      <button *ngFor="let page of modelGlobal.pages" class="item item-block item-md spell-import-button"
              (click)="jumpToSpell(page)" ion-item>
        {{page.name}}
        <br>
        <p class="font-size-small" style="color: #a0a0a0;">
          {{"from " + page.spellbookName}}
        </p>
        <button ion-button color="light" (click)="import(page);$event.stopPropagation();" item-right>
          Import
        </button>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'spellbook'" id="single-spell-list">
      <button *ngFor="let page of modelLocal.pages" class="item item-block item-md spell-import-button"
              (click)="jumpToSpell(page)" ion-item>
        {{page.name}}
        <button ion-button color="light" (click)="import(page);$event.stopPropagation();" item-right>
          Import
        </button>
      </button>
    </ion-list>
   <ion-item *ngIf="modelGlobal.pages.length == 0 && modelLocal.pages.length == 0 && firebaseDone && popped">
      {{popFailedToast()}}
    </ion-item>
  </div>

</ion-content>
